@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: lightblue;
  --foreground: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: black;
    --foreground: white;
  }
}

body {
  text-align: center;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}