.drawing {
    display: flex;
    height: 90vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.drawingcontainer {
    width: 90%;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    background: #202124;
}

@media screen and (max-width: 1024px) {
    .drawing {
        height: 70vh;
    }
    img {
        height: 40vh;
        width: auto;
    }
    
}